# Discord Bot Token
DISCORD_TOKEN=
BOT_OWNER= 527175885309083648

PROFILE_API_ENDPOINT=
BEARER_TOKEN=

# Application ID (get this from Discord Developer Portal)
CLIENT_ID=
 GUILD_API_ENDPOINT=

 listguilds_endpoint=
banlistapi_endpoint=
autosync_endpoint=
 
