# Discord Bot Token
DISCORD_TOKEN=
BOT_OWNER= 52717588530983648,53394460488665088
OWNER_NAME=

PROFILE_API_ENDPOINT=
BEARER_TOKEN=
# Application ID (get this from Discord Developer Portal)
CLIENT_ID=13792921701158962
 GUILD_API_ENDPOINT=

 listguilds_endpoint=
 banlistapi_endpoint=   
autosync_endpoint=
